@model IEnumerable<TrashCollection.Models.Customer>

@{
    ViewBag.Title = "ThursdayWorkLoad";
}

<h2>Thursday's Pick up's</h2>

<h3>Select a day</h3>
<p>
    @Html.ActionLink("Sunday", "SundayWorkLoad", "Employee")
    @Html.ActionLink("Monday", "MondayWorkLoad", "Employee")
    @Html.ActionLink("Tuesday", "TuesdayWorkLoad", "Employee")
    @Html.ActionLink("Wednesday", "WednesdayWorkLoad", "Employee")
    @Html.ActionLink("Thursday", "ThursdayWorkLoad", "Employee")
    @Html.ActionLink("Friday", "FridayWorkLoad", "Employee")
    @Html.ActionLink("Saturday", "SaturdayWorkLoad", "Employee")
</p>
<h4>See Todays Work Load</h4>
<p>
    @Html.ActionLink("Today's Work Load", "TodaysWorkLoad","Employee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDayOfTheWeek)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDayOfTheWeek)
            </td>
        </tr>
    }

</table>
